<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      GoGOPark
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">ログイン</a>
      <a href="#">新規登録</a>
  
    </div>
  </div>
</div>

<div class="map">
  地図を挿入
</div>

<div class="form">
</div>